@import url("./constants/colors.css");
.container {
    padding: 2rem;
    border: 1px solid var(--border-color);
    border-radius: 0.5rem;
}

.add-btn {
    background-color: var(--primary-color);
    color: var(--white-color);
    border-radius: 0.3rem;
    border: none;
    width: 6rem;
}

/*#col-product-type {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*}*/